.imageviewer {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.imageviewer img {
    min-height: 10%;
    min-width: 10%;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}