*{
    box-sizing: border-box;
    margin: 0;
}

:root {
  --wrapper-background-color: rgb(25, 25, 25);
}

::-webkit-scrollbar {
    border-radius: 4px;
    width: 8px;
}

::-webkit-scrollbar-track {
  background: black ;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

textarea{
    background-color: rgba(0, 0, 0, 0.25);
    border: 0;
    outline: 0;
    padding: 10px;
    color: white;
    resize: none;
    font: inherit;
}

.wrapper{
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: var(--wrapper-background-color);
}

.date{
    color: gray;
}

.date:hover{
    cursor: pointer;
    text-decoration: underline;
}

.wrapper > *{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

@media (max-width: 1200px) {
    .wrapper{
        width: 100%;
        font-size: smaller;
    }

    .wrapper > *{
        width: 90%;
    }
}

button{
    color: black;
}

html, body, #root{
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color:rgb(40, 40, 40);

    height: 100%;
    width: 100%;
    margin: 0;
}

.unclickable-icon{
    opacity: 0.5;
}


.clickable-icon{
    transition: all 0.1s;
}

.clickable-icon:hover{
    transition: all 0.1s;
    cursor: pointer;
    opacity: 0.75;
    transform: scale(0.9);
}

@media (hover: hover) {
    .liked:hover{
        transition: all 0.1s;
        fill: rgba(255, 0, 0, 0.25);
        color: rgba(128, 128, 128, 0.25);
    }

    .unliked:hover{
        transition: all 0.1s;
        fill: rgba(255, 0, 0, 0.5);
        color: rgba(255, 0, 0, 0.5);
    }
}

.unliked{
    transition: all 0.1s;
}

.liked{
    transition: all 0.1s;
    fill: red;
    color: red;
}

.clickable {
    cursor: pointer;
}

.navlink {
    text-decoration: none;
    color: inherit;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.avatar{
    border-radius: 100%;
}

input{
    color: black;
}

input:valid{
    background-color: palegreen;
}

input:invalid{
    background-color: lightpink;
}

@keyframes pulse {
    0% { transform: scale(0.95); opacity: 0.5; }
    50% { transform: scale(1); opacity: 0.7; }
    100% { transform: scale(0.95); opacity: 0.5; }
}