.profile{
  display: flex;
  flex-direction: column;
}

.profile-buttons{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.profile-banner-wrapper{
  position: relative;
}

.profile-banner-wrapper > img{
  height: 100%;
  width: 100%;
  aspect-ratio: 3 / 1;
  border-radius: 0px 0px 20px 20px;
}

.profile-avatar-wrapper{
  position: absolute;
  bottom: 6%;
  left: 2%;
  height: 50%;
}

.profile-avatar-wrapper > img{
  height: 100%;
  border-radius: 100%;
}

.profile .bio{
  font-weight: lighter;
}

.profileeditor{
  background-color: rgba(0, 0, 0, 0.75);
}

.profileeditor-wrapper{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.profileeditor .images{
  position: relative;
  width: 100%;
}

.profileeditor .images label{
  padding: 0;
}

.profileeditor .images > .avatar-wrapper > img{
  position: absolute;
  bottom: 6%;
  left: 2%;
  height: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100%;
}

.profileeditor .images > .banner-wrapper{
  display: flex;
}

.profileeditor .images > .banner-wrapper > img{
  height: 100%;
  width: 100%;
  aspect-ratio: 3 / 1;
  border-radius: 20px;
}

.profileeditor .tag{
  position: relative;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileeditor .tag > input{
  width: 100%;
}

.profileeditor .tag > svg{
  border-radius: 100%;
  position: absolute;
  right: 10px;
}